SEARCH_CLIENT=mock
BING_SEARCH_API_KEY=
BING_SEARCH_ENDPOINT=https://api.bing.microsoft.com/v7.0/search
GOOGLE_CSE_API_KEY=
GOOGLE_CSE_ID=
HASH_SALT=
REPORT_PASSWORD=
MIN_CONFIDENCE=0.35
REQUEST_TIMEOUT_SECONDS=15
MAX_QUERIES_PER_EMPLOYEE=500
